html{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    border: solid 1px gray;
    padding: 0.5em;
    height: 40vh;
    width: 25vw;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 2em;
}

form:hover{
    box-shadow: 5px 5px 15px #888888;
}

form .inputs{
    width: 90%;
    margin-bottom: 0.75em;
}

.input-section{
    width: 70vw;
    border-bottom: solid 0.8px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn{
    width: 95%;
    margin-bottom: 0.75em;
    background-color: black;
    color:white;
    border-radius: 5px;
    border: none;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: grey;
}

.lib-section {
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 5px;
}

.card{
    padding:1.5em;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px gray;
    position: relative;
}

.card h3{
    margin: 0 0 10px;
    color: rgb(0, 0, 39);
}

.card p{
    margin: 5px 0;
    color: black;
}

.delete-btn{
    padding:5px;
    font-size: 15px;
    margin-top: 10px;
    background-color: black;
    color:aliceblue;
}

.delete-btn:hover{
    background-color: #888888;
    cursor: pointer;
}